<h1 class="align-center" style="padding-bottom: 10%">TicTacToe</h1>
<div class="container align-center" style="max-width: 30%">

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="email" id="username" name="username"
             ngModel class="form-control" required placeholder="username" autofocus>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <a routerLink="/signup">create account</a>
    </div>
    <button type="submit" class="btn btn-outline-dark">Log In</button>
  </form>
</div>
