<form class="form-singin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-singin-heading">Log in</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>

    <input type="email" id="username" name="username"
           ngModel class="form-control" required placeholder="username" autofocus>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    <button type="submit">log in</button>
  </div>
</form>

<h2><a routerLink="/signup">or you can create account</a></h2>
