<!--<form #myForm="ngForm" class="text-align" *ngIf="!gameIsStarted">
  <input class="form-control" name="name" [(ngModel)]="yourName" required placeholder="your name"/>
  <button [disabled]="!yourName" (click)="tictactoe.sayHey(yourName)">Find game</button>
</form>-->

<div class="text-align">
  <h1 *ngIf="!winner">Current Player: {{ currentPlayerName() }} </h1>
  <h1 *ngIf="winner">
    {{ winner }} won the game!
  </h1>
</div>

<button *ngIf></button>
<main *ngIf="tictactoe.gameIsStarted">
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">

  </app-square>
</main>

<div class="text-align">
  <h2>moves: {{countMoves}}</h2>
  <button *ngIf="winner" (click)="newGame()">new Game</button>
</div>



